@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes delay-visibility {
  0%,
  60% {
    opacity: 1;
  } /* Fully visible for the first 60% */
  70% {
    opacity: 0.3;
  }
  80% {
    opacity: 1;
  }
  85% {
    opacity: 0.2;
  }
  90% {
    opacity: 1;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.glitch-letter {
  display: inline-block;
  animation: delay-visibility 2s ease-out forwards;
}

/* Randomized delays for chaotic flickering */
.glitch-letter:nth-child(2n) {
  animation-delay: 0.1s;
}
.glitch-letter:nth-child(3n) {
  animation-delay: 0.2s;
}
.glitch-letter:nth-child(4n) {
  animation-delay: 0.3s;
}
.glitch-letter:nth-child(5n) {
  animation-delay: 0.4s;
}
.glitch-letter:nth-child(6n) {
  animation-delay: 0.5s;
}
.glitch-letter:nth-child(7n) {
  animation-delay: 0.6s;
}
